.article {
    background-color: rgb(232, 223, 213);
    padding-top: 20px;
    padding-bottom: 20px;
}

.articleMenu {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.articleImage {
    margin-top: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.articleImageCaption {
    text-align: center;
    font-size: 15px;
    color: #6c757d;
    margin-top: 5px;
}

.authorAndDateOfArticle {
    display: flex;
    margin-top: 10px;
}

.authorPicOfArticle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.authorNameOfArticle {
    padding: 0 10px 0 10px;
}

.articleReactions {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    background-color: #eff2ed;
    border: 1px solid #020202;
    border-radius: 20px;
}

.articleReactionsIcons {
    margin-right: 20px;
    margin-left: 30px;
    font-size: 30px;
    transition: transform 0.3s ease;
}

.articleReactionsIcons:hover {
    color: #007bff;
    transform: scale(1.5);
    position: relative;
    z-index: 1000;
}

.articleReactionsCount {
    font-size: 15px;
    color: #6c757d;
    margin-left: 2px;
    display: flex;
    justify-content: center;
}




/* For tablets and large mobiles */
@media (max-width: 991px) {
    .articleReactionsIcons {
        margin-left: 15px;
    }

    .articleReactionsIcons:hover {
        z-index: 800;
    }

}

/* For smaller devices (phones) */
@media (max-width: 768px) {
    .articleBodyText p,
    .articleBodyText {
        font-size: 17px !important;
        line-height: 1.6 !important;
        padding: 0 1px !important;
        text-align: justify !important;
        box-sizing: border-box;
        word-break: break-word;
        hyphens: auto;
    }

    .articleHead h1 {
        font-size: 24px !important;
    }

    .articleHead span {
        font-size: 15px !important;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
}

/* Article Body */
.articleBodyText p,
.articleBodyText {
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
    padding: 0 2px;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}