.article {
    background-color: rgb(232, 223, 213);
    padding-top: 20px;
    padding-bottom: 20px;
}
.articleContainer{
    margin: 10px 90px;
}

.articleMenu {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.articleImage {
    margin-top: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.articleImageCaption {
    text-align: center;
    font-size: 15px;
    color: #6c757d;
    margin-top: 5px;
}

.authorAndDateOfArticle {
    display: flex;
    margin-top: 10px;
}

.authorPicOfArticle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.authorNameOfArticle {
    padding: 0 10px 0 10px;
}

/* Article Body */
.articleBodyText p,
.articleBodyText {
    font-size: 21px;
    line-height: 1.6;
    text-align: justify;
    padding: 0 2px;
    /* max-width: 1100px; */
    margin: 0 auto;
    box-sizing: border-box;
}

    
.audioSection {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* For smaller devices (phones) */
@media (max-width: 768px) {
    .articleContainer{
        margin: 10px;
    }
    .articleBodyText p,
    .articleBodyText {
        font-size: 17px !important;
        line-height: 1.6 !important;
        padding: 0 1px !important;
        text-align: justify !important;
        box-sizing: border-box;
        word-break: break-word;
        hyphens: auto;
    }

    .articleHead h1 {
        font-size: 24px !important;
    }

    .articleHead span {
        font-size: 15px !important;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
}

