.homeContainer {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; */
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left:5vw;
    height: '100vh';
    background: none;
	width:90%;
}
/* .blured_background{ */
/* 	position:fixed; */
/* 	background:white; */
/* 	top:0; */
/* 	left:0; */
/* 	height:100%; */
/* 	width:100%; */
/* 	z-index:-5; */
/* 	display:flex; */
/* 	align-items:center; */
/* 	justify-content:center; */
/* } */
/* .blured_color{ */
/*     height:50%; */
/*     width:50%; */
/*     background:#BBA9D6; */
/*     filter:blur(100px); */
/*     opacity:0.70; */
/**/
/* } */
.mainSection {
    position:relative;
    width:100vw;
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    justify-content: space-between;
    gap: 20px;
    background:none;
    margin: 20px  0 0 -5vw;
/*     border: 1px solid #ccc; */
    border-radius: 8px;
    padding: 00px;
    text-decoration:none;
   
}

.imageSection {
    flex:1;
    width:100%;
    border-radius:7px;
}

.imageSection img {
    width: 100%;
    height: 67vh;
    border-radius: 6px;
    object-fit: cover;
}


.inner_text_area{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.5); 

}


.linkStyle{
    text-decoration: none;
    color:white; 
}
.linkStyle:hover{
    color: white;
    /* text-decoration: underline; */
}

.textSection {
    flex: 1;
    position:absolute;
    bottom:0;
    left:0;
    color:white;
    padding:2vh 7vw 2vh 5vw;
    text-align:justify;

}

.textSection h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.4;
}

.textSection p {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    line-height: 1.6;
}

.date {
    font-size: 14px;
    color: white;
}



.articlesSection {
    display:flex;
    flex-direction: row; 
    align-items: center;
    gap: 20px;
}
/* .articleContainer{ */
/*     display:grid; */
/*     grid-template-columns:1fr 1fr; */
/*     grid-template-rows:1fr 1fr; */
/*     gap:1vw 1vh; */
/* } */

.articleItem {
    flex:1;
    border: 0px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;
    padding: 15px;
    margin:5vh 0 0 0;
    /* width: 100%; */
    /* max-width: 600px; */
    transform:scale(1);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    transition:0.4s;
}
.articleItem:hover{
    box-shadow: 0 0 25px black;
    transform:scale(1.05);	
    border-radius:8px;
}
.trailing_image{  
    height:100%;
    width:300px; 
    box-shadow:0 0 5px black;
    border-radius:10px;	
}
.header_text{
    border:none;
    outline:none;
    text-decoration:none;
}
@media (max-width: 768px) {
    .mainSection {
        flex-direction: column;
    }

    .imageSection {
        order: -1;
        /* show image on top */
        width: 100%;
        height: auto;
        border-radius: 6px;
        object-fit: cover;
        display: flex;
        justify-content: center;
    }
    .imageSection img{
	height:50vh;
    }


    .trailing_image{
	width:110%;
	height:25vh;
	margin:-5% 0 0 -5%;
	border-radius:0;
    }


 /*    .blured_color{ */
	/* opacity:1; */
 /*    } */
    
}
