.actionIcon{
    color: #555;
    cursor: pointer;
    font-size: 25px;
    /* margin-left: 10px; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(228, 227, 227);
}
.actionIcon:hover{
    color: #000;
    background-color: #ebe8e8;
}
.actionIcon:disabled{
    color: #000;
    background-color: #ebe8e8;
    cursor: not-allowed;
}

.roleChangeDropdown{
    font-size: 17px;
    border: 1px solid #b8b3b3;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
}

.refreshBtn{
    background-color: #d3dae2;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 6px 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}
.refreshBtn:hover {
    background-color: #cdc9c9;
    /* color: #fff; */
}
.refreshBtn:disabled {
    background-color: #f0f0f0;
    color: #aaa;
    cursor: not-allowed;
}


@media screen and (max-width: 768px) {
  .actionIcon{
        font-size: 20px;
        margin-left: 5px;
        padding: 3px;
    }
     
}