.articleFeatureCard{
    min-height: 310px;
    /* border: 2px solid #908c8c; */
    border: 2px solid #c7c4c4;
}

.addCard {
    min-height: 200px;
}

@media screen and (max-width: 768px) {
    .articleFeatureCard{
        display: flex;
        flex-direction: column;
        min-height: auto;
    }
    
    .addCard {
        min-height: 150px;
    }
}
