 /* Increase table font sizes */
.customTable :global(.ant-table-thead > tr > th),
.customTable :global(.ant-table-tbody > tr > td) {
  font-size: 16px; 
  line-height: 1.6;
}

/* Optional: make header slightly bolder */
.customTable :global(.ant-table-thead > tr > th) {
  font-weight: 700;
}

/* Optional: for better readability */
.customTable :global(.ant-table-tbody > tr > td) {
  color: #333;
}
.customTable :global(.ant-table) {
  /* font-family: 'Inter', 'Roboto', sans-serif; */
  font-weight: 500;
}

.customTable :global(.ant-table-expanded-row) {
  font-size: 16px;
  color: #555;
  background: #f9f9f9;
}

.actionColumn {
  display: flex;
  justify-content: center;
  gap: 9px; /* Space between icons */
}

.commentCountSectionContainer{
    display: flex;
    justify-content: center;
}
.commentCountSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 40%;
    
}

@media screen and (max-width: 768px) {
  .customTable :global(.ant-table-thead > tr > th),
  .customTable :global(.ant-table-tbody > tr > td) {
    font-size: 13px; 
  }
    .actionColumn{
        gap: 2px;
    }   
    
    .commentCountSection{
        overflow-wrap: break-word;
        width: 90%;
    }
}