/* Increase table font sizes */
.customTable :global(.ant-table-thead > tr > th),
.customTable :global(.ant-table-tbody > tr > td) {
  font-size: 18px; 
  line-height: 1.6;
}

/* Optional: make header slightly bolder */
.customTable :global(.ant-table-thead > tr > th) {
  font-weight: 700;
}

/* Optional: for better readability */
.customTable :global(.ant-table-tbody > tr > td) {
  color: #333;
}
.customTable :global(.ant-table) {
  /* font-family: 'Inter', 'Roboto', sans-serif; */
  font-weight: 500;
}

.customTable :global(.ant-table-expanded-row) {
  font-size: 16px;
  color: #555;
  background: #f9f9f9;
}

/* Default styles */
.fixedColumn {
  background-color: red;
  box-shadow: -2px 0 5px -2px rgba(0, 0, 0, 0.1);
  padding: 0 8px; /* Add consistent padding */
}
.actionColumn {
  display: flex;
  justify-content: center;
  gap: 4px; /* Space between icons */
}

.userCountSectionContainer{
    display: flex;
    justify-content: center;
}
.userCountSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 40%;
}

@media screen and (max-width: 768px) {
  .customTable :global(.ant-table-thead > tr > th),
  .customTable :global(.ant-table-tbody > tr > td) {
    font-size: 15px; 
  }
    .actionColumn{
        gap: 2px;
    }   
}