.navbarHead {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.navbarHide {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbarShow {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}