.navbarHead {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.navbarHide {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbarShow {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  margin-left:0vw;
}

/* .logo {
  height: 60px;
  width: 90px;
 
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */


.offcanvasBody {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center; /* horizontal centering */
  text-align: center;
  padding: 2rem 0; /* balanced spacing top/bottom */
}

.offcanvasBody .nav-link {
  font-size: 1.2rem;
  margin: 8px 0; /* evenly spaced menu items */
}

@media (min-width: 992px) {
  .offcanvasBody {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 0;
  }
  .logo {
    height: 40px;
    width: 40px;
  }
}