.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    /* background-color: #e6e9ed; */
    /* background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80'); */
    background-image: url('../../../../public/bc_1.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.loginForm {
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgb(246, 248, 246);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginButton {
    background-color: #ecf0ee;
    color: rgb(8, 8, 8);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border: 3px solid #353232;
    /* transition: background-color 0.3s, color 0.3s; */
}
.loginButton:hover {
    background-color: #353232;
    color: white;
    border: 3px solid #353232;
    /* transition: background-color 0.3s, color 0.3s; */
}